<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
    <script type="text/javascript">
        var stompClient = null;
        var privateStompClient = null;

        var socket = new SockJS('/ws');
        console.log(socket)
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function(frame) {
            console.log(frame);
            stompClient.subscribe('/topic/payment', function(result) {
                console.log("Received test: " + result.body)
                show(result.body());
            });
        });
        // privateStompClient = Stomp.over(socket);
        // privateStompClient.connect({}, function(frame) {
        //     console.log("Test" + frame);
        //     privateStompClient.subscribe('/payment/messages', function(result) {
        //         console.log(result.body)
        //         show(JSON.parse(result.body));
        //     });
        // });

        function sendMessage() {
            var text = document.getElementById('text').value;
            stompClient.send("/app/payment-success", {},
                JSON.stringify({'text':text}));
        }
        // Hàm xử lý tin nhắn nhận được từ máy chủ
        function handleMessage(message) {
            console.log("Received message: " + message);
            // Xử lý giá trị message ở đây theo nhu cầu của bạn
            // Ví dụ: Hiển thị giá trị trong một thẻ div có id là 'response'
            document.getElementById('response').innerText = message;
        }

        function show(message) {
            var response = document.getElementById('messages');
            var p = document.createElement('p');
            p.innerHTML= "message: "  + message.text;
            response.appendChild(p);
        }
    </script>
</head>
<body>
<div>
    <div>
        <button id="sendMessage" onclick="sendMessage();">Send</button>
        <input type="text" id="text" placeholder="Text"/>
    </div>
    <br />
    <br />
    <br />
    <br />

    <div id="messages"></div>

</div>

</body>
</html>